html
{
  scroll-behavior: smooth;
}

body
{
    background-color: #000000;
    color: white;
    font-family: 'Helvetica';
    margin: 0;
    padding: 0;
}

img
{
    width: 100%;
}

h1
{
    font-size: 3rem;
    margin-bottom: 10px;
    font-family: Garamond, serif;
}

h2
{
    margin: 0 0 5px;
    font-size: 2.5rem;
}

h3
{
    margin: 0 0 10px;
}

p, li
{
    margin: 0 0 25px 0;
    font-size: 1.5rem;
}

a
{
    color: white;
    text-decoration: none;
}

#Wrapper
{
    margin: auto;
}

#TopBar
{
    width: 100%;
    height: 60px;
}

#TopBar>ul
{
    list-style-type: none;
    margin: auto;
    padding: 20px 10%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}

#TopBar li
{
    margin-top: 0;
    font-size: 1.3rem;
}

#TopBar a:hover
{
    color: #757575;
}

#WelcomeHeader
{
    background-image: url("./img/TEST.JPG");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
    display: block;
}

#WelcomeText
{
    position: absolute;
    top: 20%;
    left: 8%;
    width: fit-content;
}

.colorA
{
    background-color: #141414;
}

.colorB
{
    background-color: #1d1d1d;
}

.row
{
    padding: 30px 0;
}

.rowContent
{
    margin: auto;
    padding: 10px 0 50px;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
}
.thinRow
{
    margin: auto;
    padding: 10px 0 50px;
    max-width: 1000px;
    display: flex;
}

.centerTitle
{
    text-align: center;
    margin: 0 auto 10px;
    padding: 0 20px;
    font-size: 2.7rem;
}

h4.centerTitle 
{
    font-size: 2rem;
}

.split_2
{
    width: 40%;
    padding: 0 5%;
}

.split_3
{
    width: 33.333333%;
}

.split_4
{
    flex: 25%;
    padding-top: 33.333333%;
}


.projectBox
{
    margin-bottom: 30px;
    padding-bottom: 0;
    transition: transform .2s;
}

.projectBox:hover
{
    transform: scale(1.03);
}

@media (max-width: 1200px) 
{
    .rowContent
    {
        display: block;
    }
    .split_2, .split_3, .split_4
    {
        width: 90%;
    }
    .projectBox:hover
    {
        transform: scale(1);
    }
}

.projectBox h3
{
    margin: 0 auto 5px;
    padding: 2% 0 0 3%;
    font-size: 1.8rem;
}

.projectBox h4
{
    margin: 0 auto 15px;
    padding: 0 3%;
}

.projectBox img
{
    display: block;
    aspect-ratio: 1.3;
    height: auto;
    object-fit: cover;
}